<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.SignatureMapper" >
  <resultMap id="BaseResultMap" type="com.mall.pojo.Signature" >
    <constructor >
      <idArg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="signature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="privatekey" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="publickey" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="creat_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    username, signature, privatekey, publickey, creat_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from signature
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from signature
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.pojo.Signature" >
    insert into signature (username, signature, privatekey, 
      publickey, creat_time, update_time
      )
    values (#{username,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{privatekey,jdbcType=VARCHAR}, 
      #{publickey,jdbcType=VARCHAR}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.pojo.Signature" >
    insert into signature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="privatekey != null" >
        privatekey,
      </if>
      <if test="publickey != null" >
        publickey,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="privatekey != null" >
        #{privatekey,jdbcType=VARCHAR},
      </if>
      <if test="publickey != null" >
        #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.pojo.Signature" >
    update signature
    <set >
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="privatekey != null" >
        privatekey = #{privatekey,jdbcType=VARCHAR},
      </if>
      <if test="publickey != null" >
        publickey = #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.pojo.Signature" >
    update signature
    set signature = #{signature,jdbcType=VARCHAR},
      privatekey = #{privatekey,jdbcType=VARCHAR},
      publickey = #{publickey,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = now()
    where username = #{username,jdbcType=VARCHAR}
  </update>


  <select id="checkUsername" resultType="int" parameterType="string">
    select count(1)
    from signature
    where username=#{username}
  </select>
  <update id="updateByName" parameterType="map">
    update signature
    set signature=#{sign},update_time=now()
    where username=#{username}
  </update>
  <select id="getSignature" resultType="String">
    select signature
    from signature
    where username=#{username}
  </select>
  <select id="getpublickey" resultType="String">
    select publickey
    from signature
    where username=#{username}
  </select>
</mapper>